.products-list {
    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;

        flex: 1 1;
    }
    h3, p {
        text-align: center;
    }
    .snipcart-add-item {
        margin: 1em;
    }
}