.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-img {
        max-width: 100%;

        @media (max-width: 360px - 1px) {
            padding: 20px;
        }
    }

    .about-text {
        max-width: 640px;
        margin: 20px 0 !important;

        @media (max-width: 360px - 1px) {
            margin: 5px 0 !important;
        }
    }
}
