.main-content {
    display: flex;
    flex-direction: column;

    .main-container {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        flex: 1;

        .main-content {
            flex: 1;
        }
    }
}

.md-title.md-title--toolbar {
    white-space: normal;
    height: fit-content;
    line-height: 1.4em;
    margin: 1em;
}

header.md-toolbar {
    height: fit-content;
}