@import "../components/colors.scss";

.post {
    display: flex;

    &-aside {
        flex: 1 1 40%;
    }

    @media screen and (max-width: 420px) {
        flex-direction: column;
    }
}

.post-title {
    font-family: 'Centenario v0.1';
    font-size: 56px;
    line-height: 92.9%;

    letter-spacing: -0.04em;
    text-transform: uppercase;

    @media screen and (max-width: 420px) {
        font-size: 36px;
    }
}

.products {
    flex: 1 1 60%;
    display: flex;
    text-align: center;

    article {
        flex: 1 1 100%;
        margin: 15px;
    }

    .snipcart-add-item {
        border: none;
        background: none;
        color: $primary-highlight;

        font-family: 'Centenario v0.1';
        font-size: 40px;
        line-height: 92.9%;

        letter-spacing: -0.04em;
        text-transform: uppercase;
    }
    
    .product-name {
        font-size: 20px;
        line-height: 135.3%;

        letter-spacing: 0.03em;
    }

    @media screen and (max-width: 420px) {
        article {
            margin: 5px;
            max-width: 22%;
        }

        .snipcart-add-item {
            font-size: 30px;
        }

        .product-name {
            font-size: 14px;
        }
    }
}
