@font-face {
    font-family: 'Centenario v0.1';
    src: url('/fonts/Centenariov01-Regular.eot');
    src: url('/fonts/Centenariov01-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Centenariov01-Regular.woff2') format('woff2'),
        url('/fonts/Centenariov01-Regular.woff') format('woff'),
        url('/fonts/Centenariov01-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
